{% extends "user/html/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
        </style>
    </head>
    <body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
        <div>
            Hello, welcome to the Investment Advisor App. We are happy to help you at all times, no matter what the situation is!
        </div>
    </body>
</html>